.display-main-cont {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 620px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	font-family: 'Open Sans', sans-serif;
	min-height: 800px;
	margin-top: 2rem;
}

.header {
	display: flex;
	flex-shrink: 0;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	background-color: rgba(2, 72, 72, 0.717);
	padding-top: 0.5rem;
}

.main-cont {
	flex-grow: 1;
}
.display-header {
	font-family: 'Open Sans', sans-serif;
	margin-left: 2rem;
}

span {
	font-weight: bold;
	font-size: 1rem;
	color: white;
	margin-left: 3rem;
	padding-bottom: 0.5rem;
}

.header-ds .main-cont {
	display: flex;
	flex-direction: row;
	background-color: red;
}

.main {
	display: flex;
	flex-grow: 1;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	background-color: #e0dede;
}

.sidebar {
	display: flex;
	flex-shrink: 0;
	padding: 0.5rem;
	flex-basis: content;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	background-color: #bbb7b7cc;
}
.sidebar > h5 {
	font-size: 0.75rem;
}

.display-info-cont {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	margin: 0.5rem;
}

.label {
	font-weight: bold;
	font-size: 0.75rem;
}
.value {
	font-size: 0.7rem;
	color: black;
}

.display-edu-cont > .display-info-cont > .value,
.edu-name-city > .value {
	font-size: 0.75rem;
	color: black;
	font-weight: bold;
}

.display-info-cont > .value {
	width: 100px;
}

.display-description {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	margin: 0.5rem;
}

.display-edu-cont {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: flex-start;
	margin-left: 0.5rem;
}

h5 {
	font-size: 1rem;
	color: rgba(2, 72, 72, 0.717);
	padding-left: 2.5%;
	padding-bottom: 0.5%;
}

h5::after {
	content: '';
	display: block;
	width: 100%;
	height: 0.5px;

	background-color: rgba(100, 100, 100, 0.717);
}

.display-edu-cont {
	display: flex;
	width: 450px;
}

.description-value {
	font-size: 0.75rem;
	color: black;
	margin-left: 5%;
}

.display-edu-cont > .display-info-cont {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	gap: 1rem;
	margin: 0.5rem;
}

/* .display-exp-cont > .display-info-cont {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	gap: 1rem;
	margin: 0.5rem;
} */
.edu-right {
	display: flex;
	flex-grow: 1;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	width: 300px;
}

.edu-name-city {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: flex-start;
	margin: 0 0.5rem;
	gap: 0.5rem;
}

.include-button {
	display: flex;
	flex-direction: column;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
}
